##############################################################################
#                          Variables
##############################################################################

# This should be a short but descriptive name of the course lab environment
#
COURSE_NAME="SUSE Manager 3 Administration"


# This should be the course number
#
COURSE_NUM="SMGR201"


# Will the lab environment be spread accross multiple lab machines?
#
# If set to Y then the installation script will know that the VMs for the
# lab environment are going to be spread accross multiple lab machines. If set 
# to N then all VMs for the lab environment will be on a single lab machine.
#
MULTI_LAB_MACHINE="N"


# Name extension added to VM configuration files when the lab environment
# is spread accross multiple lab machines.
#
# If the VMs in the lab environment are spread accross multiple lab machines
# (typically due to the lab machines not having enough RAM for them to be on
# a single  machine) then the pre-installed/configured VMs will need to have
# an alternate VM config file that defines a different virtual network
# configuration (i.e. VLANs+bridges instead of Libvirt virtual networks).
# This alternate VM config file should reside in the VM's directory along
# side the original VM config file and will need to be named in a specific
# way. The file name should be: VM_NAME-MULTI_LM_EXT.xml
#
# Example: single lab machine file name = admin.xml
#          multi lab machine file name =  admin-multi_lm.xml
#
# This variable is only used whrn MULTI_LAB_MACHINE=Y
#
MULTI_LM_EXT=""


# These values are in GB. The "GB" will be automatically apended.
#
MIN_DISK_FREE=80
MIN_MEMORY=14


# List of Libvirt VMs
#
# VMs should exist in a single directory and contain the disk images and a
# XML config. 
#
# The XML config file should be the same name as the directory + ".xml".
#
# These VMs shoud be tar.gz files of the directory with the extension ".tgz"
# It is assumed that the VM directories reside in "/home/VMs". All paths to
# disk images should be relative to the VM directory in that directory.
#
# The VMs listed in LIBVIRT_VM_LIST should be the names of the files without 
# the ".tgz"
#
LIBVIRT_VM_LIST="admin smgr smgr-proxy services srv1 srv2 srv3"


# List of Libvirt VM names that should be started by the installation script.
# These VMs should only be VMs that are listed in $LIBVIRT_VM_LIST.
#
LIBVIRT_START_VM_LIST=""


# If you want to have the installation script autobuild any Libvirt VMs, put
# the name of the configuration file for the create-vms.sh utility in this
# variable. 
#
# This file should be in the $VM_AUTOBUILD_CONFIG_DIR so that is gets 
# installed into the $SCRIPTS_DEST_DIR/$VM_AUTOBUILD_SCRIPT_DIR/ during the
# lab environment installation.
#
# To use this feature, you must have the create-vms directory in the
# $SCRIPTS_DEST_DIR directory so that it can be installed.
#
LIBVIRT_AUTOBUILD_VM_CONFIG=""


# The network configs in LIBVIRT_VNET_LIST should be the names of the Libvirt 
# virtual networks.
#
# The config files that define these networks should be named <vnet_name>.xml
#
LIBVIRT_VNET_LIST="manager"


# Change the VM's config file to set the CPU to the hypervisor default.
#
# This can be useful if you are not sure which version of Libvirt created the 
# VMs config file or is the CPU the Vm will be run on will supprort the version
# Specified in the VM's config file.
#
# Setting this to 'y' can potentialy fix problems where the VM won't boot or
# it is getting a kernel panic.  
#
LIBVIRT_SET_CPU_TO_HYPERVISOR_DEFAULT="n"


# Install SSH keys/authorized_keys/known_hosts files into the user's ~/.ssh
# directory.
#
# If set to Y the contents of config/ssh/ is copied into ~/.ssh/ and correct 
# permissions are set on the files.
#
# Options: Y and N 
#          (Default=N)
#
INSTALL_SSH_KEYS="N"


# A space delimited list of files that are to be copied into the user's ~/.ssh 
# directory. Typically these will be public/private keys, authorized_keys and
# known_hosts files.
#
# All files must reside in config/ssh
#
SSH_FILE_LIST=""


# The VLAN names in VLAN_LIST should be a space delimited list of
# comma delimited values: 
#   VLAN name    (example: cloud-admin)
#   node number    (example: 1)
#   VLAN network (example: 192.168.124.0/24)
#   ethernet device (example: eth1)
#   VLAN ID (example: 124)
#
#   Note: If the VLAN should not have an IP address assigned to it, 
#         enter - into the VLAN network field. 
#
# Example 1: "vlan-admin,1,192.168.124.0/24,eth1,124 vlan-storage,1,192.168.125.0/24,eth1,125"
# Example 2: "vlan-admin,1,-,eth1,124 vlan-storage,1,-,eth1,125"
#
VLAN_LIST=""


# The bridge names in BRIDGE_LIST should be a space delimited list of
# comma delimited values: 
#   bridge name    (example: cloud-admin)
#   node number    (example: 1)
#   bridge network (example: 192.168.124.0/24)
#   ethernet device (example: eth1)
#
#   Note: If the bridge should not have an IP address assigned to it, 
#         enter - into the bridge network field. 
#
#   Note: The ethernet device parameter is optional. If not supplied,
#         the first unconfigured ethernet device will be used.
#
# Example 1: "cloud-admin,1,192.168.124.0/24,eth1 cloud-public,1,192.168.126.0/24,eth1"
# Example 2: "cloud-admin,1,192.168.124.0/24,vlan-admin cloud-storage,1,192.168.125.0/24,vlan-storage"
#
BRIDGE_LIST=""


# List of VMware VM tarballs. 
#
# These VMs shoud be tar.gz files of the directory with the extension ".tgz"
#
# The VMs listed in VMWARE_VM_LIST should be the names of the files without 
# the ".tgz"
#
VMWARE_VM_LIST=""


# List of VMware VM names that shoule be started.
#
# The VMs listed in VMWARE_START_VM_LIST should be a the paths to the VMware
# VM's .vmx files
#
VMWARE_START_VM_LIST=""


# The network configs in VMWARE_VNET_LIST should be the names of the VMware 
# virtual networks.
#
# The config files that define these networks should be in the same directory
# as the Vmware installer and be named networking.<vnet_name>. 
#
# The contents of these files will be appended to the 
# /etc/vmware/networking file.
#
# They should have corresponding <vnet_name>.tgz files in the same 
# directory that contain the virtual network directories tarred up from
# /etc/vmware.
#
VMWARE_VNET_LIST=""


# Uninstall VMware application when lab environment is removed?
#
# Values: y to uninstall application, n to leave application installed
#
UNINSTALL_VMWARE_ON_REMOVE=""


#-----------------------------------------------------------------------------

# File containing custom functions for installation of this specific
# lab environment that don't need to be added to the main script.
#
# This file will be sourced at the end of the function definitions in the
# main script.
#
CUSTOM_FUNCTIONS_FILE="config/custom-functions.sh"


# File containing custom install commands or calling the custom functions
# for installation of this specific lab environment.
#
# This file will be sourced at the end ater all other commands/fuctions
# have been executed in the installer script.
#
CUSTOM_INSTALL_COMMANDS_FILE="config/custom-install-commands.sh"


# File containing custom remove commands or calling the custom functions
# for removal of this specific lab environment.
#
# This file will be sourced at the end ater all other commands/fuctions
# have been executed in the removal script.
#
CUSTOM_REMOVE_COMMANDS_FILE="config/custom-remove-commands.sh"
